# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Tutti i file in ".idea"
.idea/*
# Tutti i file in "__pycache__"
__pycache__/*